@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --backgroundbody: #4E1884;
    --texth1: #3A1262;
    --fonte0: Arial, Helvetica, sans-serif;
}

article > h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color: var(--texth1);
}

#home-article {
    border-color: 1px solid black;
}


body {
    font-family: Arial, sans-serif;
    background-color: #efeff0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}